* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  background: url(assets/imgback.png);
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.container {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  overflow-y: auto;
  padding: 10px 20px;
  backdrop-filter: blur(2px);
  /* box-shadow: 20px 20px 70px black; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.99);
  backdrop-filter: blur(10px);
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  font-size: 2.5em;
}

.child {
  margin-bottom: 10px;
}

#taskInput {
  width: 80%;
  padding: 8px;
  position: relative;
  left: 3.5em;
  color: rgb(255, 253, 253);
  background-color: rgb(49, 49, 49);
  border: 2px solid #ddd;
  border-radius: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(46, 51, 61, 0.3);
  font-size: 14px;
}

#taskInput:focus {
  border-color: #667eea;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.btns button {
  margin-top: 10px;
  width: 20%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

#deleteAll {
  background: transparent;
  border: 3px solid rgb(103, 69, 69);
  color: white;
}

#addTaskButton {
  background: transparent;
  padding: 0px 5px;
  border: 3px solid rgb(103, 69, 69);
  color: white;
}

#addTaskButton:hover {
  background: #606060;
}
#deleteAll:hover {
  background: #606060;
}

.delete {
  background: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 11px;
}
.done {
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 11px;
}

.checkOut {
  color: grey;
  text-decoration: line-through;
}
.redo {
  color: rgb(143, 140, 140);
}

.undo {
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 11px;
}
.taskList {
  list-style: none;
  margin-top: 20px;
  width: 80%;
}

.taskList li {
  background: transparent;
  opacity: 2;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 0.1px solid #7f7f82;
  font-size: 16px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 5px 5px rgba(24, 24, 24, 0.8);
  backdrop-filter: blur(200px);
}
.btn-box {
  position: fixed;
  right: -8px;
  padding: 1px;
}
.btn-box button i {
  width: 1rem;
}

.btn-box button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.edit {
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 11px;
}

.inptVal {
  position: fixed;
  left: 30px;
}

span[contenteditable="true"] {
  outline: 1px solid #fff;
  border-radius: 5px;
  padding: 4px 9px;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    width: 95%;
    height: 85vh;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  body {
    min-height: 100vh;
    background-size: cover;
  }

  .container {
    width: 95%;
    height: 85vh;
    padding: 15px;

    overflow-y: auto;
  }

  h2 {
    font-size: 2rem;
  }

  #taskInput {
    width: 100%;
    left: 0;
    font-size: 14px;
    padding: 10px;
  }

  .btns {
    flex-direction: row;
    gap: 15px;
  }

  .btns button {
    width: 45%;
    padding: 10px;
  }

  .taskList li {
    font-size: 14px;

    padding: 10px;
  }
}
